WSDL_XSD_in_Dita/src/test/resources/Entities/FTM_Redsys_Common_Lib/pacs.028.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:DRAFT3pacs.028.001.01"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="urn:iso:std:iso:20022:tech:xsd:DRAFT3pacs.028.001.01"
    elementFormDefault="qualified">
  <xs:element name="Document" type="Document_EPC122-16_SCT_INST_Interbank_Iberpay_2017_V1.0"/> <!-- Iberpay -->
  <xs:simpleType name="AddressType2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ADDR"/>
      <xs:enumeration value="BIZZ"/>
      <xs:enumeration value="DLVY"/>
      <xs:enumeration value="HOME"/>
      <xs:enumeration value="MLTO"/>
      <xs:enumeration value="PBOX"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BICFIIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification5">
    <xs:sequence>
	  <!-- Iberpay: BrnchId is removed -->
      <xs:element name="FinInstnId" type="FinancialInstitutionIdentification8"/>
      <!-- <xs:element name="BrnchId" type="BranchData2" minOccurs="0"/> -->
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification5_EPC122-16_SCT_INST_Interbank_2017_V1.0">
    <xs:complexContent>
      <xs:restriction base="BranchAndFinancialInstitutionIdentification5">
        <xs:sequence>
          <xs:element name="FinInstnId" type="FinancialInstitutionIdentification8_EPC122-16_SCT_INST_Interbank_2017_V1.0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BranchData2">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text" minOccurs="0"/>
      <xs:element name="Nm" type="Max140Text" minOccurs="0"/>
      <xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CategoryPurpose1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalCategoryPurpose1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="ClearingChannel2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BOOK"/>
      <xs:enumeration value="MPNS"/>
      <xs:enumeration value="RTGS"/>
      <xs:enumeration value="RTNS"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ClearingSystemIdentification2Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ClearingSystemMemberIdentification2">
    <xs:sequence>
      <xs:element name="ClrSysId" type="ClearingSystemIdentification2Choice" minOccurs="0"/>
      <xs:element name="MmbId" type="Max35Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CountryCode">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2,2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element name="FIToFIPmtStsReq" type="FIToFIPaymentStatusRequest"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Document_EPC122-16_SCT_INST_Interbank_Iberpay_2017_V1.0"> <!-- Iberpay -->
    <xs:complexContent>
      <xs:restriction base="Document">
        <xs:sequence>
          <xs:element name="FIToFIPmtStsReq" type="FIToFIPaymentStatusRequest_EPC122-16_SCT_INST_Interbank_2017_V1.0">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="ExternalCategoryPurpose1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalClearingSystemIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalFinancialInstitutionIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalLocalInstrument1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalServiceLevel1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="FinancialIdentificationSchemeName1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalFinancialInstitutionIdentification1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionIdentification8">
    <xs:sequence>
      <xs:element name="BICFI" type="BICFIIdentifier" minOccurs="0"/>
      
<!-- Iberpay: Only BIC is available for DbtrAgt in pacs.028 -->
<!--       <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2" minOccurs="0"/> -->
<!--       <xs:element name="Nm" type="Max140Text" minOccurs="0"/> -->
<!--       <xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0"/> -->
<!--       <xs:element name="Othr" type="GenericFinancialIdentification1" minOccurs="0"/> -->
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionIdentification8_EPC122-16_SCT_INST_Interbank_2017_V1.0">
    <xs:complexContent>
      <xs:restriction base="FinancialInstitutionIdentification8">
        <xs:sequence>
          <xs:element name="BICFI" type="BICFIIdentifier"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FIToFIPaymentStatusRequest">
    <xs:sequence>
      <xs:element name="GrpHdr" type="GroupHeader53"/>
      <xs:element name="OrgnlGrpInf" type="OriginalGroupInformation27"/>
      <xs:element name="TxInf" type="PaymentTransaction70"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FIToFIPaymentStatusRequest_EPC122-16_SCT_INST_Interbank_2017_V1.0">
    <xs:complexContent>
      <xs:restriction base="FIToFIPaymentStatusRequest">
        <xs:sequence>
          <xs:element name="GrpHdr" type="GroupHeader53_EPC122-16_SCT_INST_Interbank_2017_V1.0">
            <xs:annotation>
              <xs:documentation xml:lang="EN" source="Name">Group Header</xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">Set of characteristics shared by all individual transactions included in the status request message.</xs:documentation>
              <xs:documentation source="Yellow Field"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="OrgnlGrpInf" type="OriginalGroupInformation27_EPC122-16_SCT_INST_Interbank_2017_V1.0">
            <xs:annotation>
              <xs:documentation xml:lang="EN" source="Definition">Original group information concerning the group of transactions, to which the status request message refers to.</xs:documentation>
              <xs:documentation xml:lang="EN" source="Name">OriginalGroupInformation</xs:documentation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation source="Usage Rule">Mandatory.</xs:documentation>
              <xs:documentation source="Usage Rule">Only one occurence is allowed.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TxInf" type="PaymentTransaction70_EPC122-16_SCT_INST_Interbank_2017_V1.0">
            <xs:annotation>
              <xs:documentation xml:lang="EN" source="Definition">Information concerning the original transaction, to which the status request message refers.</xs:documentation>
              <xs:documentation xml:lang="EN" source="Name">TransactionInformation</xs:documentation>
              <xs:documentation source="Usage Rule">Mandatory.</xs:documentation>
              <xs:documentation source="Usage Rule">Only one occurence is allowed.</xs:documentation>
              <xs:documentation source="Yellow Field"/>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GenericFinancialIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element name="SchmeNm" type="FinancialIdentificationSchemeName1Choice" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GroupHeader53">
    <xs:sequence>
      <xs:element name="MsgId" type="Max35Text_AllowedCharacters_WithoutBlankSpace"/>  <!-- Iberpay MsgId validation-->
      <xs:element name="CreDtTm" type="ISODateTime"/>
      <xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification5" minOccurs="0"/>
      <xs:element name="InstdAgt" type="BranchAndFinancialInstitutionIdentification5" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GroupHeader53_EPC122-16_SCT_INST_Interbank_2017_V1.0">
    <xs:complexContent>
      <xs:restriction base="GroupHeader53">
        <xs:sequence>
          <xs:element name="MsgId" type="Max35Text_AllowedCharacters_WithoutBlankSpace"> <!-- Iberpay MsgId validation-->
            <xs:annotation>
              <xs:documentation xml:lang="EN" source="Definition">
Point to point reference, as assigned by the instructing party, and sent to the next party in the chain to unambiguously identify the message.
Usage: The instructing party has to make sure that MessageIdentification is unique per instructed party for a pre-agreed period.
              </xs:documentation>
              <xs:documentation xml:lang="EN" source="Name">MessageIdentification</xs:documentation>
              <xs:documentation source="Yellow Field"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="CreDtTm" type="ISODateTime">
            <xs:annotation>
              <xs:documentation xml:lang="EN" source="Definition">Date and time at which the message was created.</xs:documentation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation xml:lang="EN" source="Name">CreationDateTime</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification5_EPC122-16_SCT_INST_Interbank_2017_V1.0" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="EN" source="Definition">
Agent that instructs the next party in the chain to carry out the (set of) instruction(s).

Usage: The instructing agent is the party sending the status message and not the party that sent the original instruction that is being reported on.
              </xs:documentation>
              <xs:documentation source="Usage Rule">Only BIC is allowed</xs:documentation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation xml:lang="EN" source="Name">InstructingAgent</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InstdAgt" type="BranchAndFinancialInstitutionIdentification5_EPC122-16_SCT_INST_Interbank_2017_V1.0" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="EN" source="Definition">
Agent that is instructed by the previous party in the chain to carry out the (set of) instruction(s).

Usage: The instructed agent is the party receiving the status message and not the party that received the original instruction that is being reported on.
              </xs:documentation>
              <xs:documentation source="Usage Rule">Only BIC is allowed</xs:documentation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation xml:lang="EN" source="Name">InstructedAgent</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="ISODateTime">
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:complexType name="LocalInstrument2Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalLocalInstrument1Code"/>
	  <!-- Iberpay: Prtry -->
      <!-- <xs:element name="Prtry" type="Max35Text"/> -->
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="Max140Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="140"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max16Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="16"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <!-- Iberpay "Type Max35Text_AllowedCharacters contains the only allowed characters"-->
  <xs:simpleType name="Max35Text_AllowedCharacters"> 
    <xs:annotation> 
      <xs:documentation xml:lang="EN" source="Name">Max 35Text allowed characteres</xs:documentation> 
      <xs:documentation xml:lang="EN" source="Definition">Specifies a character string with a maximum length of 35 characters and allowed characteres.</xs:documentation> 
    </xs:annotation> 
    <xs:restriction base="xs:string"> 
      <xs:minLength value="1"/> 
      <xs:maxLength value="35"/> 
      <xs:pattern value="([a-zA-Z0-9]|[+|\?|/|\-|:|\(|\)|\.|,|' ]){1,35}"/> 
    </xs:restriction> 
  </xs:simpleType> 
<!-- Iberpay: New type for '<StsReqId>' without blank spaces -->
<xs:simpleType name="Max35Text_AllowedCharacters_WithoutBlankSpace"> 
    <xs:annotation> 
      <xs:documentation xml:lang="EN" source="Name">Max 35Text allowed characteres</xs:documentation> 
      <xs:documentation xml:lang="EN" source="Definition">Specifies a character string with a maximum length of 35 characters and allowed characteres.</xs:documentation> 
    </xs:annotation> 
    <xs:restriction base="xs:string"> 
      <xs:minLength value="1"/> 
      <xs:maxLength value="35"/> 
      <xs:pattern value="([a-zA-Z0-9]|[+|\?|/|\-|:|\(|\)|\.|,|']){1,35}"/> 
    </xs:restriction> 
</xs:simpleType>
 <!-- Iberpay "Type MsgNnId_00800102 contains pacs.008.001.02"-->
 <!-- The name that identifies the message of the original immediate SEPA Transfer. It will be “pacs.008.001.02”-->
  <xs:simpleType name="MsgNmId_00800102"> 
    <xs:annotation> 
      <xs:documentation xml:lang="EN" source="Name">MsgNmId 00800102</xs:documentation> 
      <xs:documentation xml:lang="EN" source="Definition">Specifies a character string with value pacs.008.001.02.</xs:documentation> 
    </xs:annotation> 
    <xs:restriction base="xs:string">
	  <xs:enumeration value="pacs.008.001.02">
	  </xs:enumeration>
    </xs:restriction> 
  </xs:simpleType> 

  <xs:simpleType name="Max70Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="70"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="OriginalGroupInformation27">
    <xs:sequence>
      <xs:element name="OrgnlMsgId" type="Max35Text_AllowedCharacters_WithoutBlankSpace"/> <!-- Iberpay Original MsgId validation-->
      <xs:element name="OrgnlMsgNmId" type="MsgNmId_00800102"/>  <!-- Iberpay  Original MsgNmId validation-->
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginalGroupInformation27_EPC122-16_SCT_INST_Interbank_2017_V1.0">
    <xs:complexContent>
      <xs:restriction base="OriginalGroupInformation27">
        <xs:sequence>
          <xs:element name="OrgnlMsgId" type="Max35Text_AllowedCharacters_WithoutBlankSpace"> <!-- Iberpay Original MsgId validation-->
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation xml:lang="EN" source="Definition">Point to point reference, as assigned by the original instructing party, to unambiguously identify the original message.</xs:documentation>
              <xs:documentation xml:lang="EN" source="Name">OriginalMessageIdentification</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OrgnlMsgNmId" type="MsgNmId_00800102"> <!-- Iberpay  Original MsgNmId validation-->
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation xml:lang="EN" source="Definition">Specifies the original message name identifier to which the message refers.</xs:documentation>
              <xs:documentation xml:lang="EN" source="Name">OriginalMessageNameIdentification</xs:documentation>
              <xs:documentation source="Usage Rule">Only ‘pacs.008.001.02’ is allowed.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OriginalGroupInformation3">
    <xs:sequence>
      <xs:element name="OrgnlMsgId" type="Max35Text"/>
      <xs:element name="OrgnlMsgNmId" type="Max35Text"/>
      <xs:element name="OrgnlCreDtTm" type="ISODateTime" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginalGroupInformation3_EPC122-16_SCT_INST_Interbank_2017_V1.0">
    <xs:complexContent>
      <xs:restriction base="OriginalGroupInformation3">
        <xs:sequence>
          <xs:element name="OrgnlMsgId" type="Max35Text">
            <xs:annotation>
              <xs:documentation source="White Field"/>
              <xs:documentation xml:lang="EN" source="Name">OriginalMessageIdentification</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OrgnlMsgNmId" type="Max35Text">
            <xs:annotation>
              <xs:documentation source="White Field"/>
              <xs:documentation xml:lang="EN" source="Name">OriginalMessageNameIdentification</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OrgnlCreDtTm" type="ISODateTime" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="White Field"/>
              <xs:documentation xml:lang="EN" source="Name">OriginalCreationDateTime</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OriginalTransactionReference22">
    <xs:sequence>
      <xs:element name="PmtTpInf" type="PaymentTypeInformation25" minOccurs="0"/>
      <xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification5"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginalTransactionReference22_EPC122-16_SCT_INST_Interbank_2017_V1.0">
    <xs:complexContent>
      <xs:restriction base="OriginalTransactionReference22">
        <xs:sequence>
          <xs:element name="PmtTpInf" type="PaymentTypeInformation25" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="EN" source="Definition">Set of elements used to further specify the type of transaction.</xs:documentation>
              <xs:documentation xml:lang="EN" source="Name">PaymentTypeInformation</xs:documentation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation xml:lang="EN" source="Rulebook">AT-45 The category purpose of the SCT Inst Instruction.</xs:documentation>
              <xs:documentation xml:lang="EN" source="Rulebook">AT-40 The identification code of the SCT Inst Scheme.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification5">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation source="Rulebook">AT-06 The BIC code of the Originator Bank.</xs:documentation>
              <xs:documentation source="Usage Rule">Mandatory</xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">Financial institution servicing an account for the debtor.</xs:documentation>
              <xs:documentation xml:lang="EN" source="Name">DebtorAgent</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PaymentTransaction70">
    <xs:sequence>
      <xs:element name="StsReqId" type="Max35Text_AllowedCharacters_WithoutBlankSpace"/> <!-- Iberpay "It must contain allowed characters except blank spaces " -->
      <xs:element name="OrgnlGrpInf" type="OriginalGroupInformation3" minOccurs="0"/>
	  <!-- Iberpay: It has to contain the allowed characters -->
      <xs:element name="OrgnlInstrId" type="Max35Text_AllowedCharacters_WithoutBlankSpace" minOccurs="0"/>
	  <!-- Iberpay allowed characters -->
      <xs:element name="OrgnlEndToEndId" type="Max35Text_AllowedCharacters"/>
	  <!-- Iberpay allowed characters without blank space -->
      <xs:element name="OrgnlTxId" type="Max35Text_AllowedCharacters_WithoutBlankSpace"/>
      <xs:element name="AccptncDtTm" type="ISODateTime"/>
      <xs:element name="OrgnlTxRef" type="OriginalTransactionReference22"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentTransaction70_EPC122-16_SCT_INST_Interbank_2017_V1.0">
    <xs:complexContent>
      <xs:restriction base="PaymentTransaction70">
        <xs:sequence>
          <xs:element name="StsReqId" type="Max35Text_AllowedCharacters_WithoutBlankSpace"> <!-- Iberpay "It must contain allowed characters" -->
            <xs:annotation>
              <xs:documentation xml:lang="EN" source="Definition">
Unique identification, as assigned by an instructing party for an instructed party, to unambiguously identify the status request.

Usage: The instructing party is the party sending the request message and not the party that sent the original instruction that is being reported on.
              </xs:documentation>
              <xs:documentation xml:lang="EN" source="Name">StatusRequestIdentification</xs:documentation>
              <xs:documentation source="Usage Rule">Mandatory</xs:documentation>
              <xs:documentation source="Usage Rule">This ID must be forwarded to the Beneficiary Bank (and therefore it is not a point-to-point reference).</xs:documentation>
              <xs:documentation source="Yellow Field"/>
            </xs:annotation>
          </xs:element>
		  <!-- Iberpay: OrgnlGrpInf is removed -->
		  <!--
          <xs:element name="OrgnlGrpInf" type="OriginalGroupInformation3_EPC122-16_SCT_INST_Interbank_2017_V1.0" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="White Field"/>
              <xs:documentation xml:lang="EN" source="Definition">Point to point reference, as assigned by the original instructing party, to unambiguously identify the original message.</xs:documentation>
              <xs:documentation xml:lang="EN" source="Name">OriginalGroupInformation</xs:documentation>
            </xs:annotation>
          </xs:element>
		  -->
          <xs:element name="OrgnlInstrId" type="Max35Text_AllowedCharacters_WithoutBlankSpace" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation source="Usage Rule">Mandatory if provided in the original instruction.</xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">Unique identification, as assigned by the original instructing party for the original instructed party, to unambiguously identify the original instruction.</xs:documentation>
              <xs:documentation xml:lang="EN" source="Name">OriginalInstructionIdentification</xs:documentation>
            </xs:annotation>
          </xs:element>
		  <!-- Iberpay: allowed characters -->
          <xs:element name="OrgnlEndToEndId" type="Max35Text_AllowedCharacters">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation source="Rulebook">AT-41 Originator’s reference of the SCT Inst Instruction.</xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">Unique identification, as assigned by the original initiating party, to unambiguously identify the original transaction.</xs:documentation>
              <xs:documentation source="Usage Rule">Mandatory</xs:documentation>
              <xs:documentation xml:lang="EN" source="Name">OriginalEndToEndIdentification</xs:documentation>
            </xs:annotation>
          </xs:element>
		  <!-- Iberpay: allowed characters without blank space-->
          <xs:element name="OrgnlTxId" type="Max35Text_AllowedCharacters_WithoutBlankSpace">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation source="Rulebook">AT-43 The Originator Bank’s reference number of the SCT Inst Transaction message.</xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">Unique identification, as assigned by the original first instructing agent, to unambiguously identify the transaction.</xs:documentation>
              <xs:documentation source="Usage Rule">Mandatory</xs:documentation>
              <xs:documentation xml:lang="EN" source="Name">OriginalTransactionIdentification</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AccptncDtTm" type="ISODateTime">
            <xs:annotation>
              <xs:documentation xml:lang="EN" source="Definition">Point in time when the payment order from the initiating party meets the processing conditions of the account servicing agent. This means that the account servicing agent has received the payment order and has applied checks such as authorisation, availability of funds.</xs:documentation>
              <xs:documentation xml:lang="EN" source="Name">AcceptanceDateTime</xs:documentation>
              <xs:documentation source="Rulebook">AT-50 Timestamp of the SCT Inst Transaction.</xs:documentation>
              <xs:documentation source="Usage Rule">Mandatory</xs:documentation>
              <xs:documentation source="Yellow Field"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="OrgnlTxRef" type="OriginalTransactionReference22_EPC122-16_SCT_INST_Interbank_2017_V1.0">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation source="Usage Rule">Mandatory</xs:documentation>
              <xs:documentation source="Usage Rule">The message elements under ‘Original Transaction Reference’ must be populated with the same value as the message elements of the original instruction, as defined within the following elements.</xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">Key elements used to identify the original transaction that is being referred to.</xs:documentation>
              <xs:documentation xml:lang="EN" source="Name">OriginalTransactionReference</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PaymentTypeInformation25">
    <xs:sequence>
	  <!-- Iberpay: InstrPrty is removed -->
      <!-- <xs:element name="InstrPrty" type="Priority2Code" minOccurs="0"/> -->
	  <!-- Iberpay: InstrPrty is removed -->
      <!-- <xs:element name="ClrChanl" type="ClearingChannel2Code" minOccurs="0"/> -->
      <xs:element name="SvcLvl" type="ServiceLevel8Choice" minOccurs="0"/>
      <xs:element name="LclInstrm" type="LocalInstrument2Choice" minOccurs="0"/>
	  <!-- Iberpay: InstrPrty is removed -->
      <!-- <xs:element name="SeqTp" type="SequenceType3Code" minOccurs="0"/> -->
      <xs:element name="CtgyPurp" type="CategoryPurpose1Choice" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PostalAddress6">
    <xs:sequence>
      <xs:element name="AdrTp" type="AddressType2Code" minOccurs="0"/>
      <xs:element name="Dept" type="Max70Text" minOccurs="0"/>
      <xs:element name="SubDept" type="Max70Text" minOccurs="0"/>
      <xs:element name="StrtNm" type="Max70Text" minOccurs="0"/>
      <xs:element name="BldgNb" type="Max16Text" minOccurs="0"/>
      <xs:element name="PstCd" type="Max16Text" minOccurs="0"/>
      <xs:element name="TwnNm" type="Max35Text" minOccurs="0"/>
      <xs:element name="CtrySubDvsn" type="Max35Text" minOccurs="0"/>
      <xs:element name="Ctry" type="CountryCode" minOccurs="0"/>
      <xs:element name="AdrLine" type="Max70Text" minOccurs="0" maxOccurs="7"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Priority2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="HIGH"/>
      <xs:enumeration value="NORM"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SequenceType3Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FNAL"/>
      <xs:enumeration value="FRST"/>
      <xs:enumeration value="OOFF"/>
      <xs:enumeration value="RCUR"/>
      <xs:enumeration value="RPRE"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ServiceLevel8Choice">
    <!-- Iberpay: Prtry is removed -->
    <xs:choice>
      <xs:element name="Cd" type="ExternalServiceLevel1Code"/>
      <!-- <xs:element name="Prtry" type="Max35Text"/> -->
    </xs:choice>
  </xs:complexType>
</xs:schema>
