XMLDocInDita/src/test/resources/Entities/FTM_Redsys_Common_Lib/Common_PPII_iSCTDTTypes.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://soap.sctinst.redsys.es/common" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://soap.sctinst.redsys.es/common">
    <xsd:simpleType name="BICIdentifier">
    	<xsd:restriction base="xsd:string">
    		<xsd:pattern
    			value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}">
    		</xsd:pattern>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="ISODateTime">
    	<xsd:restriction base="xsd:dateTime"></xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="ISODate">
		<xsd:restriction base="xsd:date"></xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="ISOTime">
        <xsd:restriction base="xsd:time" />
    </xsd:simpleType>
	
    <xsd:simpleType name="CurrencyAndAmount_SimpleType">
    	<xsd:restriction base="xsd:decimal">
			<xsd:minInclusive value="0.01" />
			<xsd:maxInclusive value="999999999999999.99"/>
			<xsd:totalDigits value="18" />
			<xsd:fractionDigits value="2" />
		</xsd:restriction>
    </xsd:simpleType>
    
    <!-- Currency and amount without restriction for min value: minInclusive = 0 -->
    <xsd:simpleType name="CurrencyAndAmount_SimpleType_1">
    	<xsd:restriction base="xsd:decimal">
    		<xsd:minInclusive value="0" />
			<xsd:maxInclusive value="999999999999999.99"/>
			<xsd:totalDigits value="18" />
			<xsd:fractionDigits value="2" />
		</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="CurrencyCode">
    	<xsd:restriction base="xsd:string">    		
    		<xsd:enumeration value="EUR"></xsd:enumeration>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="CurrencyAndAmount">
    	<xsd:simpleContent>
    		<xsd:extension base="tns:CurrencyAndAmount_SimpleType">
    			<xsd:attribute name="Currency" type="tns:CurrencyCode" use="required" />			
    		</xsd:extension>
    	</xsd:simpleContent>
    </xsd:complexType>
    
     <!-- Currency and amount without restriction for min value: minInclusive = 0 -->
    <xsd:complexType name="CurrencyAndAmount_1">
    	<xsd:simpleContent>
    		<xsd:extension base="tns:CurrencyAndAmount_SimpleType_1">
    			<xsd:attribute name="Currency" type="tns:CurrencyCode" use="required" />			
    		</xsd:extension>
    	</xsd:simpleContent>
    </xsd:complexType>

    <xsd:simpleType name="StatusCode">
        <xsd:annotation>
        	<xsd:documentation>Allowed values:
IBP400 - Error in the input parameters
IBP500 - Internal error of the application
IBP404 - Missing method
IBP204 - No results for the input parameters
IBP200 - OK response</xsd:documentation></xsd:annotation>
        <xsd:restriction base="xsd:string">
    		<xsd:length value="6"></xsd:length>
    		<xsd:pattern value="IBP[0-9]{3,3}"></xsd:pattern>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="BICSttlmtEntity">
    	<xsd:simpleContent>
    		<xsd:extension base="tns:BICIdentifier"></xsd:extension>
    	</xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="BeginingDate">
    	<xsd:simpleContent>
    		<xsd:extension base="tns:ISODateTime"></xsd:extension>
    	</xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="FinishingDate">
    	<xsd:simpleContent>
    		<xsd:extension base="tns:ISODateTime"></xsd:extension>
    	</xsd:simpleContent>
    </xsd:complexType>
    

    <xsd:complexType name="SettlementEntity">
    	<xsd:sequence>
    		<xsd:element name="BICSttlmtEnt" type="tns:BICIdentifier" minOccurs="1">
    		</xsd:element>
    		<xsd:element name="NbOfTransferOrders" type="tns:NumberOfTransferOrders" minOccurs="1">
    		</xsd:element>
    		<xsd:element name="AmtTransferOrders" type="tns:AmountOfTransferOrders" minOccurs="1">
    		</xsd:element>
    		<xsd:element name="NbOfRefunds" type="tns:NumberOfRefunds" minOccurs="1">
    		</xsd:element>
    		<xsd:element name="AmtRefunds" type="tns:AmountOfRefunds" minOccurs="1">
    		</xsd:element>
    		<xsd:element name="NbOfReversalRequests" type="tns:NumberOfReversalRequests" minOccurs="1">
    		</xsd:element>
    		<xsd:element name="NbOfRejectionRR" type="tns:NumberOfRejectionRR" minOccurs="1">
    		</xsd:element>
    		<xsd:element name="NbOfReceivedTransferOrders" type="tns:NumberOfReceivedTransferOrders" minOccurs="1">
    		</xsd:element>
    		<xsd:element name="AmtReceivedTransferOrders" type="tns:AmountOfReceivedTransferOrders" minOccurs="1">
    		</xsd:element>
    		<xsd:element name="NbOfReceivedRefunds" type="tns:NumberOfReceivedRefunds" minOccurs="1">
    		</xsd:element>
    		<xsd:element name="AmtReceivedRefunds" type="tns:AmountOfReceivedRefunds" minOccurs="1">
    		</xsd:element>
    		<xsd:element name="NbOfReceivedRR" type="tns:NumberOfReceivedReversalRequests" minOccurs="1">
    		</xsd:element>
    		<xsd:element name="NbOfReceivedRejectionsRR" type="tns:NumberOfReceivedRejectionsRR" minOccurs="1"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="NumberOfTransferOrders">
    	<xsd:restriction base="xsd:int">
    		<xsd:minInclusive value="0"></xsd:minInclusive>
    		<xsd:totalDigits value="18" />
    	</xsd:restriction>
    </xsd:simpleType>


    <xsd:complexType name="AmountOfTransferOrders">
    	<xsd:simpleContent>
    		<xsd:extension base="tns:CurrencyAndAmount_1"></xsd:extension>
    	</xsd:simpleContent>
    </xsd:complexType>

    <xsd:simpleType name="NumberOfRefunds">
    	<xsd:restriction base="xsd:int">
    		<xsd:minInclusive value="0"></xsd:minInclusive>
    		<xsd:totalDigits value="18" />
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="AmountOfRefunds">
    	<xsd:simpleContent>
    		<xsd:extension base="tns:CurrencyAndAmount_1"></xsd:extension>
    	</xsd:simpleContent>
    </xsd:complexType>

    <xsd:simpleType name="NumberOfReversalRequests">
    	<xsd:restriction base="xsd:int">
    		<xsd:minInclusive value="0"></xsd:minInclusive>
    		<xsd:totalDigits value="18" />
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="NumberOfRejectionRR">
    	<xsd:restriction base="xsd:int">
    		<xsd:minInclusive value="0"></xsd:minInclusive>
    		<xsd:totalDigits value="18" />
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="NumberOfReceivedTransferOrders">
    	<xsd:restriction base="xsd:int">
    		<xsd:minInclusive value="0"></xsd:minInclusive>
    		<xsd:totalDigits value="18" />
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="AmountOfReceivedTransferOrders">
    	<xsd:simpleContent>
    		<xsd:extension base="tns:CurrencyAndAmount_1"></xsd:extension>
    	</xsd:simpleContent>
    </xsd:complexType>

    <xsd:simpleType name="NumberOfReceivedRefunds">
    	<xsd:restriction base="xsd:int">
    		<xsd:minInclusive value="0"></xsd:minInclusive>
    		<xsd:totalDigits value="18" />
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="AmountOfReceivedRefunds">
    	<xsd:simpleContent>
    		<xsd:extension base="tns:CurrencyAndAmount_1"></xsd:extension>
    	</xsd:simpleContent>
    </xsd:complexType>

    <xsd:simpleType name="NumberOfReceivedReversalRequests">
    	<xsd:restriction base="xsd:int">
    		<xsd:minInclusive value="0"></xsd:minInclusive>
    		<xsd:totalDigits value="18" />
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="NumberOfReceivedRejectionsRR">
    	<xsd:restriction base="xsd:int">
    		<xsd:minInclusive value="0"></xsd:minInclusive>
    		<xsd:totalDigits value="18" />
    	</xsd:restriction>
    </xsd:simpleType>


    <xsd:simpleType name="IBANIdentifier">
    	<xsd:restriction base="xsd:string">
    		<xsd:length value="34"></xsd:length>
    		<xsd:pattern value="[a-zA-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}">
    		</xsd:pattern>
    	</xsd:restriction>
    </xsd:simpleType>


    <xsd:simpleType name="ResponseCode">
    	<xsd:restriction base="xsd:string">
    		<xsd:pattern value="CRG[0-9]{2,2}"></xsd:pattern>
    		<xsd:pattern value="CRP[0-9]{2,2}"></xsd:pattern>
    		<xsd:pattern value="CRM[0-9]{2,2}"></xsd:pattern>
    		<xsd:pattern value="CRL[0]{2,2}"></xsd:pattern>
    		<xsd:pattern value="CRL[9]{2,2}"></xsd:pattern>
    		<xsd:maxLength value="5"></xsd:maxLength>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="OperationType">
    	<xsd:restriction base="xsd:string">
    		<xsd:pattern value="[T|D|S|N]{1,1}"></xsd:pattern>
    		<xsd:maxLength value="1"></xsd:maxLength>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="SituationCode">
        <xsd:annotation>
        	<xsd:documentation>Allowed values: 
00 - Completed Operation
10 - Operation finished without success 
20 - Operation in progress. 
99 - Non-existing operation</xsd:documentation></xsd:annotation>
        <xsd:restriction base="xsd:string">
    		<xsd:minLength value="2"></xsd:minLength>
    		<xsd:enumeration value="00"></xsd:enumeration>    		
    		<xsd:enumeration value="10"></xsd:enumeration>
    		<xsd:enumeration value="20"></xsd:enumeration>
    		<xsd:enumeration value="99"></xsd:enumeration>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="Country">
    	<xsd:restriction base="xsd:string">
    		<xsd:minLength value="2"></xsd:minLength>
    		<xsd:enumeration value="ES"></xsd:enumeration>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="ParticipationType">
    	<xsd:restriction base="xsd:string">
    		<xsd:minLength value="1"></xsd:minLength>
    		<xsd:pattern value="[D|I]{1,1}"></xsd:pattern>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="OpId">
    	<xsd:restriction base="xsd:string">
    		<xsd:maxLength value="35"></xsd:maxLength>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="StateCode">
    	<xsd:annotation>
    		<xsd:documentation>
    			--xsd:GrpSts--

    			--from xsd:pacs.002.001.03--
    		</xsd:documentation>
    	</xsd:annotation>
    	<xsd:restriction base="xsd:string">
    		<xsd:pattern value="[ACCP|RJCT]{4,4}"></xsd:pattern>
    		<xsd:maxLength value="4"></xsd:maxLength>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="ReasonCode">
    	<xsd:annotation>
    		<xsd:documentation>
    			+ xsd:Rsn ++ xsd:Cd from xsd:pacs.002.001.03
    		</xsd:documentation>
    	</xsd:annotation>
    	<xsd:restriction base="xsd:string">
    		<xsd:maxLength value="4" />
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="SettlementCycle">
    	<xsd:restriction base="xsd:int">
    		<xsd:totalDigits value="18" />
    		<xsd:enumeration value="1"></xsd:enumeration>
    		<xsd:enumeration value="2"></xsd:enumeration>
    		<xsd:enumeration value="3"></xsd:enumeration>
    	</xsd:restriction>
    </xsd:simpleType>


   <xsd:simpleType name="ProductType">
    	<xsd:restriction base="xsd:string">
    		<xsd:maxLength value="4"></xsd:maxLength>
    		<xsd:pattern value="[CORE|BC2C|BC2E|BC2R]{4,4}"></xsd:pattern>
    	</xsd:restriction>
    </xsd:simpleType>
    
</xsd:schema>