XMLDocInDita/src/test/resources/Entities/FTM_Redsys_Common_Lib/pacs.002.001.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:pacs.002.001.03"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="urn:iso:std:iso:20022:tech:xsd:pacs.002.001.03"
    elementFormDefault="qualified">
  <xs:element name="Document" type="Document_EPC122-16_SCT_INST_Interbank_Iberpay_2017_V1.0"/> <!-- Iberpay -->
  <xs:simpleType name="AnyBICIdentifier">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">Any BICIdentifier</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BICIdentifier">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">BICIdentifier</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification4">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">Branch And Financial Institution Identification 4</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">Set of elements used to uniquely and unambiguously identify a financial institution or a branch of a financial institution.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="FinInstnId" type="FinancialInstitutionIdentification7">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Financial Institution Identification</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Unique and unambiguous identification of a financial institution, as assigned under an internationally recognised or proprietary identification scheme.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CategoryPurpose1Choice">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">Category Purpose 1Choice</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">
Specifies the high level purpose of the instruction based on a set of pre-defined categories.
Usage: This is used by the initiating party to provide information concerning the processing of the payment. It is likely to trigger special processing by any of the agents involved in the payment chain.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalCategoryPurpose1Code">
          <xs:annotation>
            <xs:documentation xml:lang="EN" source="Name">Code</xs:documentation>
            <xs:documentation xml:lang="EN" source="Definition">Category purpose, as published in an external category purpose code list.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Prtry" type="Max35Text">
          <xs:annotation>
            <xs:documentation xml:lang="EN" source="Name">Proprietary</xs:documentation>
            <xs:documentation xml:lang="EN" source="Definition">Category purpose, in a proprietary form.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element name="FIToFIPmtStsRpt" type="FIToFIPaymentStatusReportV03">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">FITo FIPayment Status Report V03</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Document_EPC122-16_SCT_INST_Interbank_Iberpay_2017_V1.0"> <!-- Iberpay -->
    <xs:complexContent>
      <xs:restriction base="Document">
        <xs:sequence>
          <xs:element name="FIToFIPmtStsRpt" type="FIToFIPaymentStatusReportV03_EPC122-16_SCT_INST_Interbank_2017_V1.0">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="ExternalCategoryPurpose1Code">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">External Category Purpose 1Code</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">Specifies the category purpose, as published in an external category purpose code list.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalLocalInstrument1Code">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">External Local Instrument 1Code</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">
Specifies the external local instrument code in the format of character string with a maximum length of 35 characters.
The list of valid codes is an external code list published separately.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalServiceLevel1Code">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">External Service Level 1Code</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">
Specifies the external service level code in the format of character string with a maximum length of 4 characters.
The list of valid codes is an external code list published separately.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalServiceLevel1Code_EPC122-16_SCT_INST_Interbank_2017_V1.0">
    <xs:restriction base="ExternalServiceLevel1Code">
      <xs:enumeration value="SEPA">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">SingleEuroPaymentsArea</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Payment must be executed following the Single Euro Payments Area scheme.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalStatusReason1Code">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">External Status Reason 1Code</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">Specifies the status reason, as published in an external status reason code list.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
	  <xs:enumeration value="AB05"/>
	  <xs:enumeration value="AB06"/>
	  <xs:enumeration value="AB07"/>
	  <xs:enumeration value="AB08"/>
	  <xs:enumeration value="AB09"/>
	  <xs:enumeration value="AB10"/>
	  <xs:enumeration value="AC01"/>
	  <xs:enumeration value="AG02"/>
	  <xs:enumeration value="AG09"/>
	  <xs:enumeration value="AG10"/>
	  <xs:enumeration value="AG11"/>
	  <xs:enumeration value="FF01"/>
	  <xs:enumeration value="AM02"/>
	  <xs:enumeration value="AM05"/>
	  <xs:enumeration value="AM23"/>
	  <xs:enumeration value="RC01"/>
	  <xs:enumeration value="RR01"/>
	  <xs:enumeration value="RR02"/>
	  <xs:enumeration value="RR03"/>
	  <xs:enumeration value="RR04"/>
	  <xs:enumeration value="CNOR"/>
	  <xs:enumeration value="DNOR"/>
	  <xs:enumeration value="AM13"/>
	  <xs:enumeration value="IT00"/>
	  <xs:enumeration value="IT01"/>
	  <xs:enumeration value="IT02"/>
	  <xs:enumeration value="IT03"/>
	  <xs:enumeration value="IT05"/>
	  <xs:enumeration value="IT06"/>
	  <xs:enumeration value="IT09"/>
	  <xs:enumeration value="IT10"/>
	  <xs:enumeration value="IT11"/>
	  <xs:enumeration value="IT12"/>
	  <xs:enumeration value="IT13"/>
	  <xs:enumeration value="IT15"/>
	  <xs:enumeration value="IT16"/>
	  <xs:enumeration value="IT17"/>
	  <xs:enumeration value="IT20"/>
	  <xs:enumeration value="IT21"/>
	  <xs:enumeration value="IT22"/>
	  <xs:enumeration value="IT24"/>
	  <xs:enumeration value="IT25"/>
	  <xs:enumeration value="IT26"/>
	  <xs:enumeration value="IT27"/>
	  <xs:enumeration value="IT28"/>
	  <xs:enumeration value="IT29"/>
	  <xs:enumeration value="IT30"/>
	  <xs:enumeration value="IT31"/>
	  <xs:enumeration value="IT32"/>
	  <xs:enumeration value="IT33"/>
	  <xs:enumeration value="IT37"/>
	  <xs:enumeration value="IT39"/>
	  <xs:enumeration value="IT44"/>
	  <xs:enumeration value="IT49"/>
	  <xs:enumeration value="IT51"/>
	  <xs:enumeration value="IT52"/>
	  <xs:enumeration value="IT97"/>
	  <xs:enumeration value="IT98"/>
	  <xs:enumeration value="AC04"/>
	  <xs:enumeration value="AC06"/>
	  <xs:enumeration value="AG01"/>
	  <xs:enumeration value="AM05"/>
	  <xs:enumeration value="BE04"/>
	  <xs:enumeration value="MD07"/>
	  <xs:enumeration value="MS02"/>
	  <xs:enumeration value="NARR"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalStatusReason1Code_EPC122-16_SCT_INST_Interbank_2017_V1.0">
    <xs:restriction base="ExternalStatusReason1Code">
      <xs:enumeration value="FF01">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Invalid File Format</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">File Format incomplete or invalid</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="FinancialInstitutionIdentification7">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">Financial Institution Identification 7</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">Set of elements used to identify a financial institution.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="BIC" type="BICIdentifier" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">BIC</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FIToFIPaymentStatusReportV03">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">FITo FIPayment Status Report V03</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">The PaymentInitiationStatusReport message is sent by an instructed agent to the payment initiator. It is used to inform this party about the positive or negative status of an instruction (either single, group or file). It is also used to report on a pending instruction.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GrpHdr" type="GroupHeader37">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Group Header</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Set of characteristics shared by all individual transactions included in the status report message.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OrgnlGrpInfAndSts" type="OriginalGroupInformation20">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Original Group Information And Status</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Original group information concerning the group of transactions, to which the status report message refers to.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TxInfAndSts" type="PaymentTransactionInformation26" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Transaction Information And Status</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Information concerning the original transactions, to which the status report message refers.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FIToFIPaymentStatusReportV03_EPC122-16_SCT_INST_Interbank_2017_V1.0">
    <xs:complexContent>
      <xs:restriction base="FIToFIPaymentStatusReportV03">
        <xs:sequence>
          <xs:element name="GrpHdr" type="GroupHeader37_EPC122-16_SCT_INST_Interbank_2017_V1.0">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="OrgnlGrpInfAndSts" type="OriginalGroupInformation20_EPC122-16_SCT_INST_Interbank_2017_V1.0">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="TxInfAndSts" type="PaymentTransactionInformation26_EPC122-16_SCT_INST_Interbank_2017_V1.0" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation source="Usage Rule">Only one occurence is allowed.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GroupHeader37">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">Group Header 37</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">Set of characteristics shared by all individual transactions included in the message.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="MsgId" type="Max35Text_AllowedCharacters_WithoutBlankSpace"> <!-- Iberpay MsgId validation-->
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Message Identification</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">
Point to point reference, as assigned by the instructing party, and sent to the next party in the chain to unambiguously identify the message.
Usage: The instructing party has to make sure that MessageIdentification is unique per instructed party for a pre-agreed period.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CreDtTm" type="ISODateTime">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Creation Date Time</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Date and time at which the message was created.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Instructing Agent</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">
Agent that instructs the next party in the chain to carry out the (set of) instruction(s).

Usage: The instructing agent is the party sending the status message and not the party that sent the original instruction that is being reported on.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InstdAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Instructed Agent</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">
Agent that is instructed by the previous party in the chain to carry out the (set of) instruction(s).

Usage: The instructed agent is the party receiving the status message and not the party that received the original instruction that is being reported on.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GroupHeader37_EPC122-16_SCT_INST_Interbank_2017_V1.0">
    <xs:complexContent>
      <xs:restriction base="GroupHeader37">
        <xs:sequence>
          <xs:element name="MsgId" type="Max35Text_AllowedCharacters_WithoutBlankSpace"> <!-- Iberpay MsgId validation-->
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="CreDtTm" type="ISODateTime">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation source="Usage Rule">Only BIC is allowed.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InstdAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation source="Usage Rule">Only BIC is allowed.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="ISODateTime">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">ISODate Time</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">
A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:complexType name="LocalInstrument2Choice">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">Local Instrument 2Choice</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">Set of elements that further identifies the type of local instruments being requested by the initiating party.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
	  <!-- Iberpay; Prtry is removed -->
      <!-- <xs:choice> -->
        <xs:element name="Cd" type="ExternalLocalInstrument1Code">
          <xs:annotation>
            <xs:documentation xml:lang="EN" source="Name">Code</xs:documentation>
            <xs:documentation xml:lang="EN" source="Definition">Specifies the local instrument, as published in an external local instrument code list.</xs:documentation>
          </xs:annotation>
        </xs:element>
		<!-- 
        <xs:element name="Prtry" type="Max35Text">
          <xs:annotation>
            <xs:documentation xml:lang="EN" source="Name">Proprietary</xs:documentation>
            <xs:documentation xml:lang="EN" source="Definition">Specifies the local instrument, as a proprietary code.</xs:documentation>
          </xs:annotation>
        </xs:element>
		-->
      <!-- </xs:choice> -->
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Max140Text">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">Max 140Text</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">Specifies a character string with a maximum length of 140 characters.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="70"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max140Text_EPC122-16_SCT_INST_Interbank_2017_V1.0">
    <xs:restriction base="Max140Text">
      <xs:minLength value="1"/>
      <xs:maxLength value="70"/>
    </xs:restriction>
  </xs:simpleType>
  <!-- Iberpay "Type Max140Text_EPC122-16_SCT_INST_Interbank_2017_V1.0_AllowedCharacters contains only the allowed characters"-->
  <xs:simpleType name="Max140Text_EPC122-16_SCT_INST_Interbank_2017_V1.0_AllowedCharacters">
    <xs:restriction base="Max140Text">
      <xs:minLength value="1"/>
      <xs:maxLength value="70"/>
	  <xs:pattern value="([a-zA-Z0-9]|[+|\?|/|\-|:|\(|\)|\.|,|' ]){1,70}"/> 
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">Max 35Text</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <!-- Iberpay "Type Max35Text_AllowedCharacters contains the only allowed characters"-->
  <xs:simpleType name="Max35Text_AllowedCharacters"> 
    <xs:annotation> 
      <xs:documentation xml:lang="EN" source="Name">Max 35Text allowed characteres</xs:documentation> 
      <xs:documentation xml:lang="EN" source="Definition">Specifies a character string with a maximum length of 35 characters and allowed characteres.</xs:documentation> 
    </xs:annotation> 
    <xs:restriction base="xs:string"> 
      <xs:minLength value="1"/> 
      <xs:maxLength value="35"/> 
      <xs:pattern value="([a-zA-Z0-9]|[+|\?|/|\-|:|\(|\)|\.|,|' ]){1,35}"/> 
    </xs:restriction> 
  </xs:simpleType>  
  <!-- Iberpay: New type for '<StsId>' without blank spaces -->
<xs:simpleType name="Max35Text_AllowedCharacters_WithoutBlankSpace"> 
    <xs:annotation> 
      <xs:documentation xml:lang="EN" source="Name">Max 35Text allowed characteres</xs:documentation> 
      <xs:documentation xml:lang="EN" source="Definition">Specifies a character string with a maximum length of 35 characters and allowed characteres.</xs:documentation> 
    </xs:annotation> 
    <xs:restriction base="xs:string"> 
      <xs:minLength value="1"/> 
      <xs:maxLength value="35"/> 
      <xs:pattern value="([a-zA-Z0-9]|[+|\?|/|\-|:|\(|\)|\.|,|']){1,35}"/> 
    </xs:restriction> 
</xs:simpleType> 
 <!-- Iberpay "Type MsgNnId contains pacs.008.001.02"-->
 <!--The name of the type of XML message to response:
      “pacs.008.001.02” – Order of immediate SEPA transfer or  
      “pacs.004.001.02” – Refund due to a positive response to a previous reversal request.
      “camt.056.01.01” – Reversal request
      “camt.029.01.03” – The rejection of a reversal request
      “pacs.028.001.01” – Research Procedure -->
  <xs:simpleType name="MsgNmId"> 
    <xs:annotation> 
      <xs:documentation xml:lang="EN" source="Name">MsgNmId</xs:documentation> 
      <xs:documentation xml:lang="EN" source="Definition">Specifies a character string with fixed names values.</xs:documentation> 
    </xs:annotation> 
    <xs:restriction base="xs:string">
	  <xs:enumeration value="pacs.008.001.02">
	  </xs:enumeration>
	  <xs:enumeration value="pacs.004.001.02">
	  </xs:enumeration>
	  <xs:enumeration value="camt.056.001.01">
	  </xs:enumeration>
	  <xs:enumeration value="camt.029.001.03">
	  </xs:enumeration>
	  <xs:enumeration value="pacs.028.001.01">
	  </xs:enumeration>
    </xs:restriction> 
  </xs:simpleType> 					
  <xs:complexType name="OrganisationIdentification4">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">Organisation Identification 4</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">Unique and unambiguous way to identify an organisation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="BICOrBEI" type="AnyBICIdentifier" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">BICOr BEI</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Code allocated to a financial institution or non financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginalGroupInformation20">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">Original Group Information 20</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">Set of elements used to provide information on the original group, to which the message refers.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OrgnlMsgId" type="Max35Text_AllowedCharacters_WithoutBlankSpace"> <!-- Iberpay Original MsgId validation-->
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Original Message Identification</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Point to point reference, as assigned by the original instructing party, to unambiguously identify the original message.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OrgnlMsgNmId" type="MsgNmId"> <!-- Iberpay Original MsgNmId validation-->
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Original Message Name Identification</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Specifies the original message name identifier to which the message refers.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrpSts" type="TransactionGroupStatus3Code" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Group Status</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Specifies the status of a group of transactions.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StsRsnInf" type="StatusReasonInformation8" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Status Reason Information</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Set of elements used to provide detailed information on the status reason.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginalGroupInformation20_EPC122-16_SCT_INST_Interbank_2017_V1.0">
    <xs:complexContent>
      <xs:restriction base="OriginalGroupInformation20">
        <xs:sequence>
          <xs:element name="OrgnlMsgId" type="Max35Text_AllowedCharacters_WithoutBlankSpace"> <!-- Iberpay Original MsgId validation-->
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="OrgnlMsgNmId" type="MsgNmId"> <!-- Iberpay Original MsgNmId validation-->
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="GrpSts" type="TransactionGroupStatus3Code" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation source="Rulebook">AT-R1 The type of R Message.</xs:documentation>
              <xs:documentation source="Usage Rule">Only ‘RJCT’, ‘ACCP’ are allowed.</xs:documentation>
              <xs:documentation source="Usage Rule">Either 'Group Status' or 'Transaction Status' must be used.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StsRsnInf" type="StatusReasonInformation8_EPC122-16_SCT_INST_Interbank_2017_V1.0" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation source="Usage Rule">Only one occurrence is allowed.</xs:documentation>
              <xs:documentation source="Usage Rule">Must be used when 'Group Status' is present.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OriginalTransactionReference13">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">Original Transaction Reference 13</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">Set of key elements used to refer the original transaction.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PmtTpInf" type="PaymentTypeInformation22" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Payment Type Information</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Set of elements used to further specify the type of transaction.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification4">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Debtor Agent</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Financial institution servicing an account for the debtor.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginalTransactionReference13_EPC122-16_SCT_INST_Interbank_2017_V1.0">
    <xs:complexContent>
      <xs:restriction base="OriginalTransactionReference13">
        <xs:sequence>
          <xs:element name="PmtTpInf" type="PaymentTypeInformation22_EPC122-16_SCT_INST_Interbank_2017_V1.0" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation xml:lang="EN" source="Rulebook">AT-40 The identification code of the SCT Inst Scheme.</xs:documentation>
              <xs:documentation xml:lang="EN" source="Rulebook">AT-45 The category purpose of the SCT Inst Instruction.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification4">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation source="Rulebook">AT-06 The BIC code of the Originator Bank.</xs:documentation>
              <xs:documentation source="Usage Rule">Mandatory</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Party6Choice">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">Party 6Choice</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">Nature or use of the account.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="OrgId" type="OrganisationIdentification4">
          <xs:annotation>
            <xs:documentation xml:lang="EN" source="Name">Organisation Identification</xs:documentation>
            <xs:documentation xml:lang="EN" source="Definition">Unique and unambiguous way to identify an organisation.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyIdentification32">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">Party Identification 32</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">Set of elements used to identify a person or an organisation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Nm" type="Max140Text" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Name</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Id" type="Party6Choice" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Identification</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Unique and unambiguous identification of a party.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyIdentification32_EPC122-16_SCT_INST_Interbank_2017_V1.0">
    <xs:complexContent>
      <xs:restriction base="PartyIdentification32">
        <xs:sequence>
          <xs:element name="Nm" type="Max140Text_EPC122-16_SCT_INST_Interbank_2017_V1.0_AllowedCharacters" minOccurs="0"/> <!-- Iberpay "It must contain allowed characters" -->
          <xs:element name="Id" type="Party6Choice" minOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PaymentTransactionInformation26">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">Payment Transaction Information 26</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">Set of elements used to provide information on the original transactions, to which the status report message refers.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="StsId" type="Max35Text_AllowedCharacters_WithoutBlankSpace">  <!-- Iberpay "It must contain allowed characters without blank spaces" -->
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Status Identification</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">
Unique identification, as assigned by an instructing party for an instructed party, to unambiguously identify the reported status.
Usage: The instructing party is the party sending the status message and not the party that sent the original instruction that is being reported on.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OrgnlInstrId" type="Max35Text_AllowedCharacters_WithoutBlankSpace" minOccurs="0"> <!-- Iberpay "It must contain allowed characters" -->
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Original Instruction Identification</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Unique identification, as assigned by the original instructing party for the original instructed party, to unambiguously identify the original instruction.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OrgnlEndToEndId" type="Max35Text_AllowedCharacters"> <!-- Iberpay "It must contain allowed characters" -->
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Original End To End Identification</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Unique identification, as assigned by the original initiating party, to unambiguously identify the original transaction.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OrgnlTxId" type="Max35Text_AllowedCharacters_WithoutBlankSpace"> <!-- Iberpay "It must contain allowed characters without blank spaces" -->
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Original Transaction Identification</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Unique identification, as assigned by the original first instructing agent, to unambiguously identify the transaction.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TxSts" type="TransactionIndividualStatus3Code" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Transaction Status</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Specifies the status of a transaction, in a coded form.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StsRsnInf" type="StatusReasonInformation8" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Status Reason Information</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Set of elements used to provide detailed information on the status reason.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <!-- Iberpay: AccptncDtTm optional -->
      <xs:element name="AccptncDtTm" type="ISODateTime" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Acceptance Date Time</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Point in time when the payment order from the initiating party meets the processing conditions of the account servicing agent. This means that the account servicing agent has received the payment order and has applied checks such as authorisation, availability of funds.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OrgnlTxRef" type="OriginalTransactionReference13">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Original Transaction Reference</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Set of key elements used to identify the original transaction that is being referred to.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentTransactionInformation26_EPC122-16_SCT_INST_Interbank_2017_V1.0">
    <xs:complexContent>
      <xs:restriction base="PaymentTransactionInformation26">
        <xs:sequence>
          <xs:element name="StsId" type="Max35Text_AllowedCharacters_WithoutBlankSpace">  <!-- Iberpay "It must contain allowed characters without blank spaces" -->
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation source="Usage Rule">Mandatory</xs:documentation>
              <xs:documentation source="Rulebook">AT-R4 The specific reference of the party initiating the Reject.</xs:documentation>
              <xs:documentation source="Usage Rule">This ID must be forwarded to the Originator Bank and optionally to the Originator (and therefore it is not a point-to-point reference).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OrgnlInstrId" type="Max35Text_AllowedCharacters_WithoutBlankSpace" minOccurs="0"> <!-- Iberpay "It must contain allowed characters" -->
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation source="Usage Rule">Mandatory if provided in the original instruction.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OrgnlEndToEndId" type="Max35Text_AllowedCharacters"> <!-- Iberpay "It must contain allowed characters" -->
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation source="Usage Rule">Mandatory</xs:documentation>
              <xs:documentation source="Rulebook">AT-41 The Originator’s reference of the SCT Inst Instruction.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OrgnlTxId" type="Max35Text_AllowedCharacters_WithoutBlankSpace"> <!-- Iberpay "It must contain allowed characters without blank spaces" -->
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation source="Usage Rule">Mandatory</xs:documentation>
              <xs:documentation source="Rulebook">AT-43 The Originator Bank’s reference of the SCT Inst Transaction message.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TxSts" type="TransactionIndividualStatus3Code" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation source="Rulebook">AT-R1 Type of R-message.</xs:documentation>
              <xs:documentation source="Usage Rule">Only ‘RJCT’ is allowed.</xs:documentation>
              <xs:documentation source="Usage Rule">Either 'Group Status' or 'Transaction Status' must be used.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StsRsnInf" type="StatusReasonInformation8_EPC122-16_SCT_INST_Interbank_2017_V1.0_2" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Usage Rule">Only one occurrence is allowed.</xs:documentation>
              <xs:documentation source="Usage Rule">Must be used when ‘Transaction Status’ is present.</xs:documentation>
              <xs:documentation source="Yellow Field"/>
            </xs:annotation>
          </xs:element>
          <!-- Iberpay: AccptncDtTm optional -->
          <xs:element name="AccptncDtTm" type="ISODateTime" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation xml:lang="EN" source="Rulebook">AT-50 Timestamp of the SCT Inst Transaction.</xs:documentation>
              <xs:documentation source="Usage Rule">Mandatory</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OrgnlTxRef" type="OriginalTransactionReference13_EPC122-16_SCT_INST_Interbank_2017_V1.0">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation source="Usage Rule">Mandatory</xs:documentation>
              <xs:documentation source="Usage Rule">The message elements under ‘Original Transaction Reference’ must be populated with the same value as the message elements of the original instruction, as defined within the following elements.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PaymentTypeInformation22">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">Payment Type Information 22</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">Set of elements used to provide further details of the type of payment.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SvcLvl" type="ServiceLevel8Choice">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Service Level</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Agreement under which or rules under which the transaction should be processed.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LclInstrm" type="LocalInstrument2Choice" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Local Instrument</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">
User community specific instrument.

Usage: This element is used to specify a local instrument, local clearing option and/or further qualify the service or service level.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SeqTp" type="SequenceType1Code" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Sequence Type</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Identifies the direct debit sequence, such as first, recurrent, final or one-off.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CtgyPurp" type="CategoryPurpose1Choice" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Category Purpose</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">
Specifies the high level purpose of the instruction based on a set of pre-defined categories.
Usage: This is used by the initiating party to provide information concerning the processing of the payment. It is likely to trigger special processing by any of the agents involved in the payment chain.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentTypeInformation22_EPC122-16_SCT_INST_Interbank_2017_V1.0">
    <xs:complexContent>
      <xs:restriction base="PaymentTypeInformation22">
        <xs:sequence>
		  <!-- Iberpay: SeqTp is removed -->
          <xs:element name="SvcLvl" type="ServiceLevel8Choice_EPC122-16_SCT_INST_Interbank_2017_V1.0"/>
          <xs:element name="LclInstrm" type="LocalInstrument2Choice" minOccurs="0"/>
          <!-- <xs:element name="SeqTp" type="SequenceType1Code" minOccurs="0"/> -->
          <xs:element name="CtgyPurp" type="CategoryPurpose1Choice" minOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="SequenceType1Code">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">Sequence Type 1Code</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">Specifies the type of the current transaction that belongs to a sequence of transactions. Specific attributes are required for the first, the recurring and the last instructions of a series, as well as the specification of a unique transaction (one-off direct debit transaction).</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="FNAL">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Final</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Final collection of a series of direct debit instructions.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FRST">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">First</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">First collection of a series of direct debit instructions.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="OOFF">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">OneOff</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Direct debit instruction where the debtor's authorisation is used to initiate one single direct debit transaction.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RCUR">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Recurring</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Direct debit instruction where the debtor's authorisation is used for regular direct debit transactions initiated by the creditor.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ServiceLevel8Choice">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">Service Level 8Choice</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">Specifies the service level of the transaction.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalServiceLevel1Code">
          <xs:annotation>
            <xs:documentation xml:lang="EN" source="Name">Code</xs:documentation>
            <xs:documentation xml:lang="EN" source="Definition">Specifies a pre-agreed service or level of service between the parties, as published in an external service level code list.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ServiceLevel8Choice_EPC122-16_SCT_INST_Interbank_2017_V1.0">
    <xs:complexContent>
      <xs:restriction base="ServiceLevel8Choice">
        <xs:sequence>
          <xs:choice>
            <xs:element name="Cd" type="ExternalServiceLevel1Code_EPC122-16_SCT_INST_Interbank_2017_V1.0"/>
          </xs:choice>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StatusReason6Choice">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">Status Reason 6Choice</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">Specifies the reason for the status of the transaction.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalStatusReason1Code">
          <xs:annotation>
            <xs:documentation xml:lang="EN" source="Name">Code</xs:documentation>
            <xs:documentation xml:lang="EN" source="Definition">Reason for the status, as published in an external reason code list.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatusReason6Choice_EPC122-16_SCT_INST_Interbank_2017_V1.0">
    <xs:complexContent>
      <xs:restriction base="StatusReason6Choice">
        <xs:sequence>
          <xs:choice>
            <xs:element name="Cd" type="ExternalStatusReason1Code_EPC122-16_SCT_INST_Interbank_2017_V1.0">
              <xs:annotation>
                <xs:documentation source="Yellow Field"/>
                <xs:documentation source="Usage Rule">Only 'FF01' is allowed.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StatusReason6Choice_EPC122-16_SCT_INST_Interbank_2017_V1.0_2">
    <xs:complexContent>
      <xs:restriction base="StatusReason6Choice">
        <xs:sequence>
          <xs:choice>
            <xs:element name="Cd" type="ExternalStatusReason1Code">
              <xs:annotation>
                <xs:documentation source="Yellow Field"/>
                <xs:documentation source="Rulebook">See Message Element Specifications below.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StatusReasonInformation8">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">Status Reason Information 8</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">Set of elements used to provide information on the status reason of the transaction.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Orgtr" type="PartyIdentification32">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Originator</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Party that issues the status.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Rsn" type="StatusReason6Choice">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Reason</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Specifies the reason for the status report.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatusReasonInformation8_EPC122-16_SCT_INST_Interbank_2017_V1.0">
    <xs:complexContent>
      <xs:restriction base="StatusReasonInformation8">
        <xs:sequence>
          <xs:element name="Orgtr" type="PartyIdentification32_EPC122-16_SCT_INST_Interbank_2017_V1.0">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation source="Usage Rule">Mandatory</xs:documentation>
              <xs:documentation source="Rulebook">AT-R2 The identification of the type of party initiating the "R" message.</xs:documentation>
              <xs:documentation source="Usage Rule">Limited to BIC to identify the Bank or CSM originating the status or ‘Name’ to indicate the CSM when it has no BIC.</xs:documentation>
              <xs:documentation source="Usage Rule">‘Name’ is limited to 70 characters in length.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Rsn" type="StatusReason6Choice_EPC122-16_SCT_INST_Interbank_2017_V1.0">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation source="Usage Rule">Mandatory</xs:documentation>
              <xs:documentation source="Rulebook">AT-R3 The reason code for non-acceptance of the SCT Inst Transaction.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StatusReasonInformation8_EPC122-16_SCT_INST_Interbank_2017_V1.0_2">
    <xs:complexContent>
      <xs:restriction base="StatusReasonInformation8">
        <xs:sequence>
          <xs:element name="Orgtr" type="PartyIdentification32_EPC122-16_SCT_INST_Interbank_2017_V1.0">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation source="Usage Rule">Mandatory</xs:documentation>
              <xs:documentation source="Rulebook">AT-R2 The identification of the type of party initiating the "R" message.</xs:documentation>
              <xs:documentation source="Usage Rule">Limited to BIC to identify the bank or CSM originating the status or ‘Name’ to indicate the CSM when it has no BIC.</xs:documentation>
              <xs:documentation source="Usage Rule">‘Name’ is limited to 70 characters in length.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Rsn" type="StatusReason6Choice_EPC122-16_SCT_INST_Interbank_2017_V1.0_2">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation source="Usage Rule">Mandatory</xs:documentation>
              <xs:documentation source="Rulebook">AT-R3 The reason code for non-acceptance of the SCT Inst.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="TransactionGroupStatus3Code">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">Transaction Group Status 3Code</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">Specifies the status of a group of payment instructions.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="RJCT">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Rejected</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Payment initiation or individual transaction included in the payment initiation has been rejected.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
	  <!-- Iberpay: ACCP is added for positive response -->
	  <xs:enumeration value="ACCP">
		   <xs:annotation>
			  <xs:documentation xml:lang="EN" source="Name">Accepted</xs:documentation>
			  <xs:documentation xml:lang="EN" source="Definition">Payment initiation or individual transaction included in the payment initiation has been accepted.</xs:documentation>
			</xs:annotation>
	  </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TransactionIndividualStatus3Code">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">Transaction Individual Status 3Code</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">Specifies the status of a single payment instruction.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="RJCT">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Rejected</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Payment initiation or individual transaction included in the payment initiation has been rejected.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
	  <!-- Iberpay: ACCP is added for positive response -->
	  <xs:enumeration value="ACCP">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Accepted</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Payment initiation or individual transaction included in the payment initiation has been rejected.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
