WSDL_XSD_in_Dita/src/test/resources/btw020ws.wsdl

<wsdl:definitions
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://www.almudena.es/ws/btw020ws/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="btw020ws"
	targetNamespace="http://www.almudena.es/ws/btw020ws/">
	<wsdl:types>
		<xsd:schema
			targetNamespace="http://www.almudena.es/ws/btw020ws/">
			<xsd:element name="BTW020WSInput"
				type="tns:BTW020WSInputType" />
			<xsd:complexType name="BTW020WSInputType">
				<xsd:complexContent>
					<xsd:extension base="tns:MAPAEType">
						<xsd:sequence>
							<xsd:element maxOccurs="1" minOccurs="0"
								name="CallReference" type="tns:CallReferenceType" />

						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:element name="BTW020WSOutput"
				type="tns:BTW020WSOutputType" />
			<xsd:complexType name="BTW020WSOutputType">
				<xsd:complexContent>
					<xsd:extension base="tns:MAPASType" />
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="DATOSPRIMASType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="ramo">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:minInclusive value="-99" />
								<xsd:maxInclusive value="99" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="accidentes">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:minInclusive value="-9999.99" />
								<xsd:maxInclusive value="9999.99" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="asistencia">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:minInclusive value="-9999.99" />
								<xsd:maxInclusive value="9999.99" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="responsabilidadcivil">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:minInclusive value="-9999.99" />
								<xsd:maxInclusive value="9999.99" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="quirurgica">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:minInclusive value="-9999.99" />
								<xsd:maxInclusive value="9999.99" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="netodecesos">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:minInclusive value="-9999.99" />
								<xsd:maxInclusive value="9999.99" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="descuentoaplicado">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:minInclusive value="-99" />
								<xsd:maxInclusive value="99" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="totaldescuento">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:minInclusive value="-9999.99" />
								<xsd:maxInclusive value="9999.99" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="primaneta">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:minInclusive value="-99999.99" />
								<xsd:maxInclusive value="99999.99" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="primatotal">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:minInclusive value="-99999.99" />
								<xsd:maxInclusive value="99999.99" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="MAPASType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="numerosimulacion">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:minInclusive value="-999999999" />
								<xsd:maxInclusive value="999999999" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="3" minOccurs="0" name="primas"
						type="tns:DATOSPRIMASType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="DATOSERRORType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="email">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="0" />
								<xsd:maxLength value="40" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="telefono">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:minInclusive value="-999999999" />
								<xsd:maxInclusive value="999999999" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="movil">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:minInclusive value="-999999999" />
								<xsd:maxInclusive value="999999999" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="vigorramo">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:minInclusive value="-99" />
								<xsd:maxInclusive value="99" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="vigorpoliza">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:minInclusive value="-9999999" />
								<xsd:maxInclusive value="9999999" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="vigorbeneficiario">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:minInclusive value="-99" />
								<xsd:maxInclusive value="99" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="DATOSASEGURADOType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="beneficiario">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:minInclusive value="-99" />
								<xsd:maxInclusive value="99" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="numerocliente">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:minInclusive value="-999999999" />
								<xsd:maxInclusive value="999999999" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="identificacion" type="tns:DATOSIDENTIFICACIONType" />
					<xsd:element maxOccurs="1" minOccurs="0"
						name="domicilio" type="tns:DATOSDOMICILIOType" />
					<xsd:element maxOccurs="1" minOccurs="0"
						name="fechaderecho">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:minInclusive value="-99999999" />
								<xsd:maxInclusive value="99999999" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="polizareemplazada">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:minInclusive value="-9999999" />
								<xsd:maxInclusive value="9999999" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="capitalquirurgica">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:minInclusive value="-999999" />
								<xsd:maxInclusive value="999999" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="muerteinvalidez">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="0" />
								<xsd:maxLength value="1" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="tarificamenores">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="0" />
								<xsd:maxLength value="1" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="adicional" type="tns:DATOSERRORType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="DATOSALTAType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="fechaefecto">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:minInclusive value="-99999999" />
								<xsd:maxInclusive value="99999999" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="frecuenciapago">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="0" />
								<xsd:maxLength value="1" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="polizareemplazada">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:minInclusive value="-9999999" />
								<xsd:maxInclusive value="9999999" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="fechaderecho">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:minInclusive value="-99999999" />
								<xsd:maxInclusive value="99999999" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="dtocomercial">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:minInclusive value="-99" />
								<xsd:maxInclusive value="99" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="clase">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="0" />
								<xsd:maxLength value="7" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="costeservicio">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:minInclusive value="-999999" />
								<xsd:maxInclusive value="999999" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="costenicho">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:minInclusive value="-999999" />
								<xsd:maxInclusive value="999999" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="capitalaccidente">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:minInclusive value="-999999" />
								<xsd:maxInclusive value="999999" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="capitalresponsabilidad">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:minInclusive value="-999999" />
								<xsd:maxInclusive value="999999" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="capitalquirurgica">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:minInclusive value="-999999" />
								<xsd:maxInclusive value="999999" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="garantiaacccirculacion">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="0" />
								<xsd:maxLength value="1" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="ramo98">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="0" />
								<xsd:maxLength value="1" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="ramo96">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="0" />
								<xsd:maxLength value="1" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="ramo95">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="0" />
								<xsd:maxLength value="1" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="emisionramo98">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="0" />
								<xsd:maxLength value="1" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="emisionramo96">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="0" />
								<xsd:maxLength value="1" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="emisionramo95">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="0" />
								<xsd:maxLength value="1" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="asegurado">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="0" />
								<xsd:maxLength value="1" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="condicionesparticulares">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:minInclusive value="-99999" />
								<xsd:maxInclusive value="99999" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="autorizado">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="0" />
								<xsd:maxLength value="1" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="porcentajecomercial">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:minInclusive value="-99.99" />
								<xsd:maxInclusive value="99.99" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="DATOSCOBROType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="domiciliocobro">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="0" />
								<xsd:maxLength value="40" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="domiciliodiferente">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="0" />
								<xsd:maxLength value="1" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="domicilio" type="tns:DATOSDOMICILIOType" />
					<xsd:element maxOccurs="1" minOccurs="0"
						name="telefono">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:minInclusive value="-999999999" />
								<xsd:maxInclusive value="999999999" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="movil">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:minInclusive value="-999999999" />
								<xsd:maxInclusive value="999999999" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="email">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="0" />
								<xsd:maxLength value="40" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="DATOSCLIENTE2Type">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="telefono">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:minInclusive value="-999999999" />
								<xsd:maxInclusive value="999999999" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="movil">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:minInclusive value="-999999999" />
								<xsd:maxInclusive value="999999999" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="ramo">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:minInclusive value="-99" />
								<xsd:maxInclusive value="99" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="poliza">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:minInclusive value="-9999999" />
								<xsd:maxInclusive value="9999999" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="beneficiario">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:minInclusive value="-99" />
								<xsd:maxInclusive value="99" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="DATOSDOMICILIOType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="tipovia">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="0" />
								<xsd:maxLength value="2" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="domicilio">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="0" />
								<xsd:maxLength value="40" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="numero">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="0" />
								<xsd:maxLength value="4" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="bloque">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="0" />
								<xsd:maxLength value="2" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="escalera">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="0" />
								<xsd:maxLength value="2" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="piso">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="0" />
								<xsd:maxLength value="2" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="letra">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="0" />
								<xsd:maxLength value="1" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="provincia">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="0" />
								<xsd:maxLength value="30" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="localidad">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="0" />
								<xsd:maxLength value="30" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="codigopostal">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:minInclusive value="-99999" />
								<xsd:maxInclusive value="99999" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="DATOSIDENTIFICACIONType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="nif">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="0" />
								<xsd:maxLength value="9" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="nombre">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="0" />
								<xsd:maxLength value="20" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="apellido1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="0" />
								<xsd:maxLength value="20" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="apellido2">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="0" />
								<xsd:maxLength value="20" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="fechanacimiento">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:minInclusive value="-99999999" />
								<xsd:maxInclusive value="99999999" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="edad">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:minInclusive value="-99" />
								<xsd:maxInclusive value="99" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="sexo">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="0" />
								<xsd:maxLength value="1" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="DATOSCLIENTEType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="numerocliente">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:minInclusive value="-999999999" />
								<xsd:maxInclusive value="999999999" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="identificacion" type="tns:DATOSIDENTIFICACIONType" />
					<xsd:element maxOccurs="1" minOccurs="0"
						name="domicilio" type="tns:DATOSDOMICILIOType" />
					<xsd:element maxOccurs="1" minOccurs="0" name="email">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="0" />
								<xsd:maxLength value="40" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="propaganda">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="0" />
								<xsd:maxLength value="1" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="DATOSSIMULACIONType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="numerosimulacion">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:minInclusive value="-999999999" />
								<xsd:maxInclusive value="999999999" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="fechasimulacion">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:minInclusive value="-99999999" />
								<xsd:maxInclusive value="99999999" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="administradora">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:minInclusive value="-999999" />
								<xsd:maxInclusive value="999999" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="gestor">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:minInclusive value="-999999" />
								<xsd:maxInclusive value="999999" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="cobrador">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:minInclusive value="-999" />
								<xsd:maxInclusive value="999" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="inspector">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:minInclusive value="-999" />
								<xsd:maxInclusive value="999" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="MAPAEType">
				<xsd:sequence>
					
					<xsd:element maxOccurs="1" minOccurs="0"
						name="usuario">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="0" />
								<xsd:maxLength value="10" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="simulacion" type="tns:DATOSSIMULACIONType" />
					<xsd:element maxOccurs="1" minOccurs="0"
						name="cliente" type="tns:DATOSCLIENTEType" />
					<xsd:element maxOccurs="1" minOccurs="0"
						name="clienteadicional" type="tns:DATOSCLIENTE2Type" />
					<xsd:element maxOccurs="1" minOccurs="0"
						name="cobro" type="tns:DATOSCOBROType" />
					<xsd:element maxOccurs="1" minOccurs="0" name="alta"
						type="tns:DATOSALTAType" />
					<xsd:element maxOccurs="20" minOccurs="0"
						name="asegurados" type="tns:DATOSASEGURADOType" />
					<xsd:sequence>
						<xsd:choice>
							<xsd:element name="NewElement"
								type="xsd:string">
							</xsd:element>
							<xsd:element ref="tns:BTW020WSFault"></xsd:element>
						</xsd:choice>
					</xsd:sequence>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="CallReferenceType">
				<xsd:sequence>
					<xsd:element name="PGMNAME">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="1" />
								<xsd:maxLength value="10" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ENTRYPOINT">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="0" />
								<xsd:maxLength value="50" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="CONNECTION">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="1" />
								<xsd:maxLength value="10" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Type">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="PGM" />
								<xsd:enumeration value="SRVPGM" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="BTW020WSFault" type="xsd:string" />
			<xsd:group name="NewGroupDefinitionSequence">
				<xsd:sequence>
					<xsd:element name="NewElement" type="xsd:string"></xsd:element>
					<xsd:element name="NewElement1" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:group>
			<xsd:group name="NewGroupDefinitionChoice">
				<xsd:choice>
					<xsd:element name="NewElement" type="xsd:string"></xsd:element>
					<xsd:element name="NewElement1" type="xsd:string"></xsd:element>
				</xsd:choice>
			</xsd:group>
			<xsd:group name="NewGroupDefinitionAll">
				<xsd:all>
					<xsd:element name="NewElement" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
					<xsd:element name="NewElement1" type="xsd:string"></xsd:element>
				</xsd:all>
			</xsd:group>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="BTW020WSRequest">
		<wsdl:part element="tns:BTW020WSInput" name="parameters" />
	</wsdl:message>
	<wsdl:message name="BTW020WSResponse">
		<wsdl:part element="tns:BTW020WSOutput" name="parameters" />
	</wsdl:message>
	<wsdl:message name="BTW020WSFault">
		<wsdl:part element="tns:BTW020WSFault" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="BTW020WS">
		<wsdl:operation name="BTW020WS">
			<wsdl:input message="tns:BTW020WSRequest"
				name="BTW020WSInput" />
			<wsdl:output message="tns:BTW020WSResponse"
				name="BTW020WSOutput" />
			<wsdl:fault message="tns:BTW020WSFault" name="fault" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BTW020WSSOAP" type="tns:BTW020WS">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="BTW020WS">
			<soap:operation
				soapAction="http://www.almudena.es/ws/BTW020WS/BTW020WS" />
			<wsdl:input name="BTW020WSInput">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="BTW020WSOutput">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BTW020WS">
		<wsdl:port binding="tns:BTW020WSSOAP" name="BTW020WSSOAP">
			<soap:address
				location="http://kubernetes:30280/services/as400" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>

