WSDL_XSD_in_Dita/src/test/resources/test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.almudena.es/ws/simulacion/" elementFormDefault="qualified" xmlns:tns="http://www.almudena.es/ws/simulacion/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <xsd:element name="simulacionInput" type="tns:simulacionInputType"/>
         <xsd:complexType name="simulacionInputType">
            <xsd:sequence>
               <xsd:element name="usuario">
                  <xsd:annotation>
                     <xsd:documentation>ID Usuario asociado a la simulación
							</xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0"/>
                        <xsd:maxLength value="10"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element minOccurs="0" name="simulacion" type="tns:DATOSSIMULACIONType"/>
               <xsd:element name="cliente" type="tns:DATOSCLIENTEType"/>
               <xsd:element name="clienteadicional" type="tns:DATOSCLIENTE2Type"/>
               <xsd:element name="cobro" type="tns:DATOSCOBROType"/>
               <xsd:element minOccurs="0" name="alta" type="tns:DATOSALTAType"/>
               <xsd:element maxOccurs="20" minOccurs="0" name="asegurados" type="tns:DATOSASEGURADOType"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:element name="simulacionOutput" type="tns:simulacionOutputType"/>
         <xsd:complexType name="simulacionOutputType">
            <xsd:sequence>
               <xsd:element minOccurs="0" name="numerosimulacion">
                  <xsd:annotation>
                     <xsd:documentation>Numero de simulación </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:decimal">
                        <xsd:minInclusive value="-999999999"/>
                        <xsd:maxInclusive value="999999999"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element maxOccurs="unbounded" name="Primas" type="tns:primasType"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="DATOSASEGURADOType">
            <xsd:sequence>
               <xsd:element minOccurs="0" name="beneficiario">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:decimal">
                        <xsd:minInclusive value="-99"/>
                        <xsd:maxInclusive value="99"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element minOccurs="0" name="numerocliente">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:decimal">
                        <xsd:minInclusive value="-999999999"/>
                        <xsd:maxInclusive value="999999999"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="identificacion" type="tns:DATOSIDENTIFICACIONType"/>
               <xsd:element minOccurs="0" name="domicilio" type="tns:DATOSDOMICILIOType"/>
               <xsd:element minOccurs="0" name="fechaderecho">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:date"/>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element minOccurs="0" name="polizareemplazada">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:decimal">
                        <xsd:minInclusive value="-9999999"/>
                        <xsd:maxInclusive value="9999999"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element minOccurs="0" name="capitalquirurgica">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:decimal">
                        <xsd:minInclusive value="-999999"/>
                        <xsd:maxInclusive value="999999"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="muerteinvalidez">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0"/>
                        <xsd:maxLength value="1"/>
                        <xsd:enumeration value="S"/>
                        <xsd:enumeration value="N"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="tarificamenores">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0"/>
                        <xsd:maxLength value="1"/>
                        <xsd:enumeration value="S"/>
                        <xsd:enumeration value="N"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="DATOSALTAType">
         	<xsd:sequence>
         		<xsd:element minOccurs="0" name="fechaefecto">
         			<xsd:simpleType>
         				<xsd:restriction base="xsd:date" />
         			</xsd:simpleType>
         		</xsd:element>
         		<xsd:element name="frecuenciapago">
         			<xsd:simpleType>
         				<xsd:restriction base="xsd:string">
         					<xsd:minLength value="0" />
         					<xsd:maxLength value="1" />
         					<xsd:enumeration value="M" />
         					<xsd:enumeration value="B" />
         					<xsd:enumeration value="T" />
         					<xsd:enumeration value="S.A" />
         				</xsd:restriction>
         			</xsd:simpleType>
         		</xsd:element>
         		<xsd:element minOccurs="0" name="polizareemplazada">
         			<xsd:simpleType>
         				<xsd:restriction base="xsd:decimal">
         					<xsd:minInclusive value="-9999999" />
         					<xsd:maxInclusive value="9999999" />
         				</xsd:restriction>
         			</xsd:simpleType>
         		</xsd:element>
         		<xsd:element minOccurs="0" name="fechadecrecho">
         			<xsd:simpleType>
         				<xsd:restriction base="xsd:date" />
         			</xsd:simpleType>
         		</xsd:element>
         		<xsd:element minOccurs="0" name="dtocomercial">
         			<xsd:simpleType>
         				<xsd:restriction base="xsd:decimal">
         					<xsd:minInclusive value="-99" />
         					<xsd:maxInclusive value="99" />
         				</xsd:restriction>
         			</xsd:simpleType>
         		</xsd:element>
         		<xsd:element name="clase">
         			<xsd:simpleType>
         				<xsd:restriction base="xsd:string">
         					<xsd:minLength value="0" />
         					<xsd:maxLength value="7" />
         				</xsd:restriction>
         			</xsd:simpleType>
         		</xsd:element>
         		<xsd:element name="costeservicio">
         			<xsd:simpleType>
         				<xsd:restriction base="xsd:decimal">
         					<xsd:minInclusive value="-999999" />
         					<xsd:maxInclusive value="999999" />
         				</xsd:restriction>
         			</xsd:simpleType>
         		</xsd:element>
         		<xsd:element name="costenicho">
         			<xsd:simpleType>
         				<xsd:restriction base="xsd:decimal">
         					<xsd:minInclusive value="-999999" />
         					<xsd:maxInclusive value="999999" />
         				</xsd:restriction>
         			</xsd:simpleType>
         		</xsd:element>
         		<xsd:element name="capitalaccidente">
         			<xsd:simpleType>
         				<xsd:restriction base="xsd:decimal">
         					<xsd:minInclusive value="-999999" />
         					<xsd:maxInclusive value="999999" />
         				</xsd:restriction>
         			</xsd:simpleType>
         		</xsd:element>
         		<xsd:element minOccurs="0"
         			name="capitalresponsabilidad">
         			<xsd:simpleType>
         				<xsd:restriction base="xsd:decimal">
         					<xsd:minInclusive value="-999999" />
         					<xsd:maxInclusive value="999999" />
         				</xsd:restriction>
         			</xsd:simpleType>
         		</xsd:element>
         		<xsd:element minOccurs="0" name="capitalquirurgica">
         			<xsd:simpleType>
         				<xsd:restriction base="xsd:decimal">
         					<xsd:minInclusive value="-999999" />
         					<xsd:maxInclusive value="999999" />
         				</xsd:restriction>
         			</xsd:simpleType>
         		</xsd:element>
         		<xsd:element name="garantiaacccirculacion">
         			<xsd:simpleType>
         				<xsd:restriction base="xsd:string">
         					<xsd:minLength value="0" />
         					<xsd:maxLength value="1" />
         					<xsd:enumeration value="S" />
         					<xsd:enumeration value="N" />
         				</xsd:restriction>
         			</xsd:simpleType>
         		</xsd:element>
         		<xsd:element minOccurs="0" name="ramo98">
         			<xsd:simpleType>
         				<xsd:restriction base="xsd:string">
         					<xsd:minLength value="0" />
         					<xsd:maxLength value="1" />
         				</xsd:restriction>
         			</xsd:simpleType>
         		</xsd:element>
         		<xsd:element minOccurs="0" name="ramo96">
         			<xsd:simpleType>
         				<xsd:restriction base="xsd:string">
         					<xsd:minLength value="0" />
         					<xsd:maxLength value="1" />
         				</xsd:restriction>
         			</xsd:simpleType>
         		</xsd:element>
         		<xsd:element minOccurs="0" name="ramo95">
         			<xsd:simpleType>
         				<xsd:restriction base="xsd:string">
         					<xsd:minLength value="0" />
         					<xsd:maxLength value="1" />
         				</xsd:restriction>
         			</xsd:simpleType>
         		</xsd:element>
         		<xsd:element minOccurs="0" name="emisionramo98">
         			<xsd:simpleType>
         				<xsd:restriction base="xsd:string">
         					<xsd:minLength value="0" />
         					<xsd:maxLength value="1" />
         				</xsd:restriction>
         			</xsd:simpleType>
         		</xsd:element>
         		<xsd:element minOccurs="0" name="emisionramo96">
         			<xsd:simpleType>
         				<xsd:restriction base="xsd:string">
         					<xsd:minLength value="0" />
         					<xsd:maxLength value="1" />
         				</xsd:restriction>
         			</xsd:simpleType>
         		</xsd:element>
         		<xsd:element minOccurs="0" name="emisionramo95">
         			<xsd:simpleType>
         				<xsd:restriction base="xsd:string">
         					<xsd:minLength value="0" />
         					<xsd:maxLength value="1" />
         				</xsd:restriction>
         			</xsd:simpleType>
         		</xsd:element>
         		<xsd:element name="asegurado">
         			<xsd:simpleType>
         				<xsd:restriction base="xsd:string">
         					<xsd:minLength value="0" />
         					<xsd:maxLength value="1" />
         					<xsd:enumeration value="S" />
         					<xsd:enumeration value="N" />
         				</xsd:restriction>
         			</xsd:simpleType>
         		</xsd:element>
         		<xsd:element minOccurs="0"
         			name="condicionesparticulares">
         			<xsd:simpleType>
         				<xsd:restriction base="xsd:decimal">
         					<xsd:minInclusive value="-99999" />
         					<xsd:maxInclusive value="99999" />
         				</xsd:restriction>
         			</xsd:simpleType>
         		</xsd:element>
         		<xsd:element minOccurs="0" name="autorizado">
         			<xsd:simpleType>
         				<xsd:restriction base="xsd:string">
         					<xsd:minLength value="0" />
         					<xsd:maxLength value="1" />
         				</xsd:restriction>
         			</xsd:simpleType>
         		</xsd:element>
         		<xsd:element minOccurs="0"
         			name="porcentajecomercial">
         			<xsd:simpleType>
         				<xsd:restriction base="xsd:decimal">
         					<xsd:minInclusive value="-99.99" />
         					<xsd:maxInclusive value="99.99" />
         				</xsd:restriction>
         			</xsd:simpleType>
         		</xsd:element>
         	</xsd:sequence>
         	<xsd:attribute name="NewAttribute" type="xsd:string"></xsd:attribute>
         </xsd:complexType>
         <xsd:complexType name="DATOSCOBROType">
            <xsd:sequence>
               <xsd:element name="domiciliocobro">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0"/>
                        <xsd:maxLength value="40"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element minOccurs="0" name="domiciliodiferente">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0"/>
                        <xsd:maxLength value="1"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element minOccurs="0" name="domicilio" type="tns:DATOSDOMICILIOType"/>
               <xsd:element minOccurs="0" name="telefono">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:decimal">
                        <xsd:minInclusive value="-999999999"/>
                        <xsd:maxInclusive value="999999999"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element minOccurs="0" name="movil">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:decimal">
                        <xsd:minInclusive value="-999999999"/>
                        <xsd:maxInclusive value="999999999"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element minOccurs="0" name="email">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0"/>
                        <xsd:maxLength value="40"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="DATOSCLIENTE2Type">
            <xsd:sequence>
               <xsd:element minOccurs="0" name="telefono">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:decimal">
                        <xsd:minInclusive value="-999999999"/>
                        <xsd:maxInclusive value="999999999"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element minOccurs="0" name="movil">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:decimal">
                        <xsd:minInclusive value="-999999999"/>
                        <xsd:maxInclusive value="999999999"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element minOccurs="0" name="ramo">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:decimal">
                        <xsd:minInclusive value="-99"/>
                        <xsd:maxInclusive value="99"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element minOccurs="0" name="poliza">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:decimal">
                        <xsd:minInclusive value="-9999999"/>
                        <xsd:maxInclusive value="9999999"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element minOccurs="0" name="beneficiario">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:decimal">
                        <xsd:minInclusive value="-99"/>
                        <xsd:maxInclusive value="99"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="DATOSDOMICILIOType">
            <xsd:sequence>
               <xsd:element name="tipovia">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0"/>
                        <xsd:maxLength value="2"/>
                        <xsd:enumeration value="AV"/>
                        <xsd:enumeration value="CL"/>
                        <xsd:enumeration value="CM"/>
                        <xsd:enumeration value="CR"/>
                        <xsd:enumeration value="GL"/>
                        <xsd:enumeration value="Pº"/>
                        <xsd:enumeration value="PG"/>
                        <xsd:enumeration value="PJ"/>
                        <xsd:enumeration value="PL"/>
                        <xsd:enumeration value="PZ"/>
                        <xsd:enumeration value="RD"/>
                        <xsd:enumeration value="TR"/>
                        <xsd:enumeration value="UR"/>
                        <xsd:enumeration value="LG"/>
                        <xsd:enumeration value="PB"/>
                        <xsd:enumeration value="BA"/>
                        <xsd:enumeration value="CA"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="domicilio">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0"/>
                        <xsd:maxLength value="40"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element minOccurs="0" name="numero">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0"/>
                        <xsd:maxLength value="4"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element minOccurs="0" name="bloque">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0"/>
                        <xsd:maxLength value="2"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element minOccurs="0" name="escalera">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0"/>
                        <xsd:maxLength value="2"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element minOccurs="0" name="piso">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0"/>
                        <xsd:maxLength value="2"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element minOccurs="0" name="letra">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0"/>
                        <xsd:maxLength value="1"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="provincia">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0"/>
                        <xsd:maxLength value="30"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="localidad">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0"/>
                        <xsd:maxLength value="30"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="codigopostal">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:decimal">
                        <xsd:minInclusive value="-99999"/>
                        <xsd:maxInclusive value="99999"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="DATOSIDENTIFICACIONType">
            <xsd:sequence>
               <xsd:element name="nif">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0"/>
                        <xsd:maxLength value="9"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="nombre">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0"/>
                        <xsd:maxLength value="20"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="apellido1">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0"/>
                        <xsd:maxLength value="20"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element minOccurs="0" name="apellido2">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0"/>
                        <xsd:maxLength value="20"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="fechanacimiento">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:date"/>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element minOccurs="0" name="edad">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:decimal">
                        <xsd:minInclusive value="-99"/>
                        <xsd:maxInclusive value="99"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="sexo">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0"/>
                        <xsd:maxLength value="1"/>
                        <xsd:enumeration value="H"/>
                        <xsd:enumeration value="M"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="DATOSCLIENTEType">
            <xsd:sequence>
               <xsd:element minOccurs="0" name="numerocliente">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:decimal">
                        <xsd:minInclusive value="-999999999"/>
                        <xsd:maxInclusive value="999999999"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element minOccurs="0" name="identificacion" type="tns:DATOSIDENTIFICACIONType"/>
               <xsd:element minOccurs="0" name="domicilio" type="tns:DATOSDOMICILIOType"/>
               <xsd:element minOccurs="0" name="email">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0"/>
                        <xsd:maxLength value="40"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="propaganda">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0"/>
                        <xsd:maxLength value="1"/>
                        <xsd:enumeration value="S"/>
                        <xsd:enumeration value="N"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="DATOSSIMULACIONType">
            <xsd:sequence>
               <xsd:element minOccurs="0" name="numerosimulacion">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:decimal">
                        <xsd:minInclusive value="-999999999"/>
                        <xsd:maxInclusive value="999999999"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element minOccurs="0" name="fechasimulacion">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:date"/>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element minOccurs="0" name="administradora">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:decimal">
                        <xsd:minInclusive value="-999999"/>
                        <xsd:maxInclusive value="999999"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element minOccurs="0" name="gestor">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:decimal">
                        <xsd:minInclusive value="-999999"/>
                        <xsd:maxInclusive value="999999"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element minOccurs="0" name="cobrador">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:decimal">
                        <xsd:minInclusive value="-999"/>
                        <xsd:maxInclusive value="999"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element minOccurs="0" name="inspector">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:decimal">
                        <xsd:minInclusive value="-999"/>
                        <xsd:maxInclusive value="999"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:element name="simulacionFault" type="xsd:string"/>
         <xsd:complexType name="primasType">
            <xsd:sequence>
               <xsd:element name="ramo">
                  <xsd:annotation>
                     <xsd:documentation>Codigo ramo</xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:int">
                        <xsd:minExclusive value="0"/>
                        <xsd:maxExclusive value="99"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="Accidentes" type="tns:importe">
                  <xsd:annotation>
                     <xsd:documentation>Prima para Accidentes</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Asistencia" type="tns:importe">
                  <xsd:annotation>
                     <xsd:documentation>Prima de Asistencia</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="ResponsabilidadCivil" type="tns:importe">
                  <xsd:annotation>
                     <xsd:documentation>Prima por resposabilidad civil</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Quirurgica" type="tns:importe">
                  <xsd:annotation>
                     <xsd:documentation>Prima para operación quirunrgica</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="DescuentoAplicado">
                  <xsd:annotation>
                     <xsd:documentation>Procentaje de descuento</xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:int">
                        <xsd:minExclusive value="0"/>
                        <xsd:maxExclusive value="99"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="TotalDescuento" type="tns:importe">
                  <xsd:annotation>
                     <xsd:documentation>Importe del descuento</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="NetoDecesos" type="tns:importe">
                  <xsd:annotation>
                     <xsd:documentation>Prima neta de descesos</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="PrimaNeta" type="tns:importeNeto">
                  <xsd:annotation>
                     <xsd:documentation>Prima neta</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="PrimaTotal" type="tns:importeNeto">
                  <xsd:annotation>
                     <xsd:documentation>Prima Total</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:simpleType name="importe">
         	<xsd:restriction base="xsd:decimal">
         		<xsd:minInclusive value="0.00" />
         		<xsd:maxExclusive value="999999.99" />
         		<xsd:totalDigits value="6" />
         		<xsd:fractionDigits value="2" />
         		<xsd:enumeration value="1"></xsd:enumeration>
         		<xsd:enumeration value="2"></xsd:enumeration>
         		<xsd:enumeration value="4"></xsd:enumeration>
         		<xsd:enumeration value="5"></xsd:enumeration>
         	</xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="importeNeto">
         	<xsd:restriction base="xsd:decimal">
         		<xsd:minInclusive value="0.00" />
         		<xsd:maxExclusive value="9999999.99" />
         		<xsd:totalDigits value="7" />
         		<xsd:fractionDigits value="2" />
         		<xsd:pattern value=".*/d"></xsd:pattern>
         	</xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="testalfa">
         <xsd:restriction base="xsd:boolean"></xsd:restriction>
         </xsd:simpleType>
      
         <xsd:group name="NewGroupDefinition">
         	<xsd:sequence></xsd:sequence>
         </xsd:group>
      
            <xsd:attribute name="NewAttribute" type="xsd:string"></xsd:attribute>
        
            <xsd:attributeGroup name="NewAttributeGroup">
            	<xsd:attribute name="NewAttribute" type="xsd:string"></xsd:attribute>
            </xsd:attributeGroup>
</schema>